@model List<Blog.Models.Article>
@{
    ViewBag.Title = "List";
}


<div class="container">
    <div class="row">
        @foreach (var article in Model)
        {
            <div class="col-sm-6">
                <article>
                    <header>
                        <h2>
                            @Html.ActionLink(@article.Title, "Details", "Article", new { @id = article.Id }, null)
                        </h2>
                    </header>
                    <p>
                        @if (article.Content.Length > 250)
                        {
                            @article.Content.Substring(0, 245)
                        }
                        else
                        {
                            @article.Content
                        }
                        ...
                    </p>
                    <small class="text-info">
                        Visited @article.VisitCounter times
                    </small>

                    <footer>
                        <div class="pull-left">
                            @foreach (var tag in article.Tags)
                            {
                                <span>@Html.ActionLink(tag.Name, "ListArticlesByTag", "Tag", new { @id = tag.Id }, new { @class = "btn btn-default btn-xs" })</span>
                            }
                        </div>
                        <small class="author pull-right">
                            --author @article.Author.FullName
                        </small>
                    </footer>
                </article>
            </div>
        }
    </div>
</div>
<hr />



@*<div class="container">
    @foreach (var article in Model)
    {
        <article class="col-sm-4">
            <h1>
                @Html.ActionLink(article.Title, "Details", "Article", new { @id = article.Id}, null)
            </h1>
            <p>
                @article.Content
            </p>
            <footer>
                @article.Author.FullName
            </footer>
        </article>
    }
</div>*@